In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/vamsi/neural_networks(udemy)/Files/Customer.csv')

In [3]:
df.head()

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [4]:
df2 = pd.read_csv('/home/vamsi/neural_networks(udemy)/Files/Customer.csv',index_col=0)
df2.head()

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [5]:
df3 = pd.read_csv('/home/vamsi/neural_networks(udemy)/Files/Customer.csv',index_col=5)
df3.head()

,Customer ID,Customer Name,Segment,Age,Country,State,Postal Code,Region
City,,,,,,,,
Henderson,CG-12520,Claire Gute,Consumer,67,United States,Kentucky,42420,South
Los Angeles,DV-13045,Darrin Van Huff,Corporate,31,United States,California,90036,West
Fort Lauderdale,SO-20335,Sean O'Donnell,Consumer,65,United States,Florida,33311,South
Los Angeles,BH-11710,Brosina Hoffman,Consumer,20,United States,California,90032,West
Concord,AA-10480,Andrew Allen,Consumer,50,United States,North Carolina,28027,South

In [6]:
df.describe()

              Age   Postal Code
count  793.000000    793.000000
mean    44.467844  55229.717528
std     15.526673  31679.223816
min     18.000000   1841.000000
25%     31.000000  27217.000000
50%     45.000000  55901.000000
75%     58.000000  90004.000000
max     70.000000  99207.000000

In [7]:
df.iloc[0]

Customer ID           CG-12520
Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: 0, dtype: object

In [8]:
df2.loc["CG-12520"]

Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: CG-12520, dtype: object

In [9]:
df2.iloc[0]

Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: CG-12520, dtype: object

In [10]:
df3.loc["Los Angeles"]

,Customer ID,Customer Name,Segment,Age,Country,State,Postal Code,Region
City,,,,,,,,
Los Angeles,DV-13045,Darrin Van Huff,Corporate,31,United States,California,90036,West
Los Angeles,BH-11710,Brosina Hoffman,Consumer,20,United States,California,90032,West
Los Angeles,EH-13945,Eric Hoffmann,Consumer,21,United States,California,90049,West
Los Angeles,RA-19885,Ruben Ausman,Corporate,51,United States,California,90049,West
Los Angeles,KM-16720,Kunst Miller,Consumer,69,United States,California,90004,West
Los Angeles,JS-15685,Jim Sink,Corporate,33,United States,California,90036,West
Los Angeles,LS-16975,Lindsay Shagiari,Home Office,66,United States,California,90004,West
Los Angeles,TT-21070,Ted Trevino,Consumer,67,United States,California,90045,West
Los Angeles,CS-12130,Chad Sievert,Consumer,51,United States,California,90004,West
Los Angeles,FM-14290,Frank Merwin,Home Office,45,United States,California,90032,West
Los Angeles,JH-15910,Jonathan Howell,Consumer,40,United States,California,90032,West
Los Angeles,JO-15280,Jas O'Carroll,Consumer,39,United States,California,90004,West
Los Angeles,DB-13615,Doug Bickford,Consumer,19,United States,California,90045,West
Los Angeles,PB-19150,Philip Brown,Consumer,30,United States,California,90004,West
Los Angeles,MT-18070,Michelle Tran,Home Office,69,United States,California,90045,West
Los Angeles,BN-11515,Bradley Nguyen,Consumer,63,United States,California,90049,West
Los Angeles,KB-16240,Karen Bern,Corporate,42,United States,California,90036,West
Los Angeles,JC-15340,Jasper Cacioppo,Consumer,39,United States,California,90032,West
Los Angeles,OT-18730,Olvera Toch,Consumer,39,United States,California,90045,West
Los Angeles,FP-14320,Frank Preis,Consumer,20,United States,California,90008,West
Los Angeles,CC-12145,Charles Crestani,Consumer,21,United States,California,90004,West
Los Angeles,AB-10165,Alan Barnes,Consumer,22,United States,California,90036,West
Los Angeles,RD-19810,Ross DeVincentis,Home Office,35,United States,California,90045,West
Los Angeles,EM-14095,Eudokia Martin,Corporate,56,United States,California,90036,West
Los Angeles,JS-15595,Jill Stevenson,Corporate,65,United States,California,90045,West
Los Angeles,HR-14770,Hallie Redmond,Home Office,67,United States,California,90045,West
Los Angeles,JJ-15445,Jennifer Jackson,Consumer,47,United States,California,90004,West
Los Angeles,SN-20560,Skye Norling,Home Office,65,United States,California,90008,West
Los Angeles,AT-10435,Alyssa Tate,Home Office,19,United States,California,90004,West
Los Angeles,BT-11530,Bradley Talbott,Home Office,34,United States,California,90036,West
Los Angeles,BF-11170,Ben Ferrer,Home Office,19,United States,California,90036,West
Los Angeles,HG-14965,Henry Goldwyn,Corporate,32,United States,California,90032,West
Los Angeles,JF-15190,Jamie Frazer,Consumer,26,United States,California,90008,West
Los Angeles,KT-16465,Kean Takahito,Consumer,24,United States,California,90049,West
Los Angeles,KN-16390,Katherine Nockton,Corporate,43,United States,California,90004,West
Los Angeles,CM-12655,Corinna Mitchell,Home Office,33,United States,California,90008,West
Los Angeles,PC-19000,Pauline Chand,Home Office,49,United States,California,90004,West
Los Angeles,ML-17395,Marina Lichtenstein,Corporate,44,United States,California,90008,West
Los Angeles,JG-15160,James Galang,Consumer,37,United States,California,90049,West
Los Angeles,TH-21100,Thea Hendricks,Consumer,21,United States,California,90045,West
Los Angeles,PS-18760,Pamela Stobb,Consumer,36,United States,California,90008,West
Los Angeles,TG-21310,Toby Gnade,Consumer,68,United States,California,90049,West
Los Angeles,JM-16195,Justin MacKendrick,Consumer,18,United States,California,90004,West
Los Angeles,EM-13810,Eleni McCrary,Corporate,59,United States,California,90036,West
Los Angeles,GM-14695,Greg Maxwell,Corporate,49,United States,California,90036,West
Los Angeles,BO-11350,Bill Overfelt,Corporate,46,United States,California,90045,West
Los Angeles,AG-10300,Aleksandra Gannaway,Corporate,68,United States,California,90049,West
Los Angeles,TT-21265,Tim Taslimi,Corporate,69,United States,California,90045,West
Los Angeles,NL-18310,Nancy Lomonaco,Home Office,69,United States,California,90045,West
Los Angeles,DB-12970,Darren Budd,Corporate,42,United States,California,90004,West
Los Angeles,SP-20920,Susan Pistek,Consumer,37,United States,California,90036,West
Los Angeles,VS-21820,Vivek Sundaresam,Consumer,22,United States,California,90036,West
Los Angeles,TS-21430,Tom Stivers,Corporate,22,United States,California,90045,West
Los Angeles,MF-18250,Monica Federle,Corporate,34,United States,California,90036,West
Los Angeles,SS-20410,Shahid Shariari,Consumer,35,United States,California,90008,West
Los Angeles,MH-17290,Marc Harrigan,Home Office,39,United States,California,90036,West
Los Angeles,DO-13645,Doug O'Connell,Consumer,20,United States,California,90036,West
Los Angeles,AO-10810,Anthony O'Donnell,Corporate,66,United States,California,90045,West

In [11]:
df.iloc[0:4]

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West

In [12]:
df.iloc[0:4:2]

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South